@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
   font-family: 'Open Sans', sans-serif;
}

h1 {
   color: #444444;
   font-size: 32px;
   font-weight: 300;
}